vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['loadbalancers'][0] else 'BACKUP' }}
    interface eth1  # Change to the correct network interface
    virtual_router_id 51
    priority {{ '100' if inventory_hostname == groups['loadbalancers'][0] else '90' }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass mysecurepassword
    }
    virtual_ipaddress {
        192.168.56.200
    }
}

